/* ========== index ==========*/
.header-logo {width: 200px;}
.search-btn {margin-left: 165px;}

.job-title {font-size: 1.5rem;}
.job-text {font-size: 1.2rem;}
.job-hash {color: #9A9797;}
.head-hash {color: #9A9797; font-size: .8rem;}
.text-select {font-size: .9rem; color: #9A9797;}

.border-top {border-top: 1px solid #000;}
.border-bottom {border-bottom: 1px solid #000;}
.border-bottom-none {border-bottom: none;}
.border-none {border: none;}
.borderside-none {border-left: none; border-right: none;}
.pl-searchbar {padding-left: 6.5rem;}
.text-bold {font-weight: bold;}
.search-select {margin: 3px 0; cursor: pointer;}
.cursor-pointer {cursor: pointer;}

.mt-rem {margin-top: 12rem;}
.head-card {color: #000;}
.head-card:hover {color: #000; text-decoration: none;}

.float-right {float: right;}
.columngap-2 {column-gap: 2rem;}
.dis-flex {display: flex;}
.height-800 {height: auto;}
.text-black {color: #000;}
.pagination li:first-child {margin: 0 auto; margin-right: 0;}
.pagination li:last-child {margin: 0 auto; margin-left: 0;}

.pos-absolute {position: absolute;}



/* ======== custom ==========*/
.bg-main {background-color: #A2BB9E;}
.form-control {width: 210px;}